:root {
  font-family: 'Manrope';
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-background-color: #eaeaed;
  --main-red-color: #ff5050;
  --main-text-color: #2e2d32;
  --header-text-color: #150000;
  --grey-hover: gray;
  --white-color: #fff;
  --violet-color:#8952d1;
  background-color: #eaeaed;
}

html, body {
  font-family: 'Manrope';
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #eaeaed;
}
#root{
  width: 100%;
  min-height: 100vh;
  color: var(--main-text-color)!important;
}


