:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-background-color: #eaeaed;
  --main-red-color: #ff5050;
   --dark-grey: #2e2d32;
  --white-color: #fff;

html, body {
  margin: 0;
  /* display: flex; */
  width: 100%;
  min-height: 100vh;
}
#root{
  width: 100%;
  min-height: 100vh;
}


